body {
    margin: 0;
    padding: 0;
    background: linear-gradient(150deg, rgb(61, 1, 61), white );
    height: 100vh;
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    background-color: thistle;
    border-radius: 10px;
}

.login{ /**/
    text-align: center;
    padding: 0 0 20px 0;
}

.login form{
    padding: 0 10%;
    box-sizing: border-box;
}

form .insertar{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30 px 0;
}

.insertar input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.insertar label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.insertar span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: blueviolet;
    transition: .5s;
}

.insertar input:focus ~ label,
.insertar input:focus ~ label{
    top: -5px;
    color: blueviolet;
}

.insertar input:focus ~ span::before,
.insertar input:focus ~ span::before{
    width: 100%;
}

.recordar{
    color: blue;
    cursor: pointer;
    margin-top: 20px;
}

.recordar:hover{
    text-decoration: underline;
}

input[type = "submit"]{
    width: 80%;
    height: 50px;
    border: 1px solid;
    border-radius: 10px;
    background: blueviolet;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none; 
    margin-top: 15px;
}

input[type = "submit"]:hover{
    border-color: purple;
    transition: .5s;
}

.registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrarse a{
    color: blue;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}