body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 237, 247);
  }
h1{
  color: black;
  background-color: black;
}
  header {
    background-color: rgb(0, 0, 0);
    height: 70px;
    padding: 0px;
    margin-bottom: 100px;
  }
  .header {
    text-align: center;
    margin-top: 100px;
  }
  .custom-border {
    width: 100%;
    padding: 16px 10px;
    border: none;
    background: transparent;
    outline: none;
    text-align: left;
    border-radius: 0;
    color: #6750A4 !important; 
}
  main {
    width: 80%;
    margin: 0 auto;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  .formulario {
    width: 500px;
    margin-left: auto;
    
  }

  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #6750A4;
    ;
  }
  
  .datos-personales {
    float: left;
    width: 60%;
    
  }
  
  .datos-cuenta {
    float: right;
    width: 50%;
    margin-right: -100px;
  }
    
  input[type="submit"] {
    background-color: #ff0d0d00;
    color: black;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #6750A4;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
  }

  .nombres{
    position: relative;
    margin-bottom: 20px;
    margin-top: 30px;
    border: 2px solid #6750A4;
    border-radius: 5px;
    
}
.nombres label {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 12px;
    color: #6750A4;
}
.apellidos{
    position: relative;
    margin-bottom: 20px;

    border: 2px solid #6750A4;
    border-radius: 5px;
    
}
.apellidos label {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 12px;
    color: #6750A4;
}
.documento{
    position: relative;
    margin-bottom: 20px;

    border: 2px solid #6750A4;
    border-radius: 5px;
}
.documento label {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 12px;
    color: #6750A4;
}
.nrodocumento{
    position: relative;
    margin-bottom: 20px;
    border: 2px solid #6750A4;
    border-radius: 5px;

}
.nrodocumento label {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 12px;
    color: #6750A4;
}
.correo{
    position: relative;
    margin-bottom: 20px;
    border: 2px solid #6750A4;
    border-radius: 5px;
}
.correo label {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 12px;
    color: #6750A4;
}
.password{
    position: relative;
    margin-bottom: 20px;
    border: 2px solid #6750A4;
    border-radius: 5px;
}
.password label {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 12px;
    color: #6750A4;
}
.passwordin{
    position: relative;
    margin-bottom: 20px;
    border: 2px solid #6750A4;
    border-radius: 5px;
}
.passwordin label {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    padding: 0 5px;
    font-size: 12px;
    color: #6750A4;
}


h3{
    color:#ffffff;
}
h2{
  text-align: left;
  font-family:'Arial', Courier, monospace;
  background-color: #ffffff;
  padding: 20px;
  margin: 0;

}


.opciones {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;

  border: 2px solid #6750a4;
  background-color: rgb(254, 247, 255);
  padding: 10px;
  border-radius: 20px;
  
}

#Datos_Personales{
  border: 0px solid;
  text-align: center;
  margin: 0 auto;
  color: #6750a4;
  
}

.datos-personales{
  text-align: left;
  margin-top: 0 auto;
  margin-left: 100px;
  margin-right: 0 auto;
}

#Cuenta{
  border: 0px solid;
  text-align: center;
  margin: 0 auto;
  color: #6750a4;
}

#Preferencia{
  border: 0px solid;
  text-align: center;
  margin: 0 auto;
  color: #6750a4;
}

.datos-personales {
  text-align: center;
  
}