body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #ffffff;
}

h1{
    text-align: center;
    margin: 0 auto;
    width: 50%;

}

.fondo_morado{
    background-color: rgb(231, 158, 231); /* Color de fondo morado */
     padding: 5px; /* Espacio entre el texto y el fondo morado, ajusta según tus necesidades */
     border-radius: 5px; /* Borde redondeado alrededor del fondo morado, ajusta según tus necesidades */
     color: rgb(0, 0, 0); 
}


/*  */